@charset "UTF-8";

/* 스킵 내비게이션 */
#skip {
    position: relative;
}

#skip a {
    position: absolute;
    left: 0;
    top: -35px;
    border: 1px solid #cdcdcd;
    color: #fff;
    background: #cecece;
    line-height: 30px;
    width: 140px;
    text-align: center;
}

#skip a:active,
#skip a:focus {
    top: 0;
}

/* 헤더 메뉴 */
.header-manu {
    text-align: right;
}

.header-manu a {
    color: wheat;
    padding: 10px 10px 10px 14px;
    display: inline-block;
    font-size: 20px;
}

.header-manu a:hover {
    color: violet;
}

.header-tit {
    text-align: center;
}

.header-tit h1 {
    color: violet;
    display: inline-block;
    background-color: #222;
    font-size: 44px;
    padding: 5px 20px 8px 20px;
    margin-top: 50px;
    font-weight: normal;
    text-transform: uppercase;
}

.header-tit a {
    display: inline-block;
    background-color: #222;
    padding: 5px 30px 8px 30px;
    font-size: 27.5px;
    color: lawngreen;
    margin-top: -5px;
}

.header-icon {
    text-align: center;
    margin-top: 10px;
}

.header-icon a {
    width: 11%;
    height: 110px;
    display: inline-block;
    background: url(../img/pngwing.com.png);
    margin: 0 3;
}

.header-icon a.icon1 {
    background-position: 0 0;
}

.header-icon a.icon2 {
    background-position: 0 -120px;
}

.header-icon a.icon3 {
    background-position: 0 -370px;
}

.header-icon a.icon4 {
    background-position: 0 -520px;
}

.header-icon a.icon1:hover {
    background-position: -460px 0px;
}

.header-icon a.icon2:hover {
    background-position: -590px -120px;
}

.header-icon a.icon3:hover {
    background-position: -130px -370px;
}

.header-icon a.icon4:hover {
    background-position: -1310px -520px;
}

/* 전체 메뉴*/
.nav {
    overflow: hidden;
    padding: 30px 0;
}

.nav>div {
    float: left;
    width: 40%;
}

.nav>div:last-child {
    width: 20%;
}

.nav>div.last {
    width: 20%;
}

.nav>div h3 {
    font-size: 24px;
    color: #f5f;
    margin-bottom: 4px;
}

.nav>div ul li a {
    color: #222;
    font-size: 18px;
}
.nav>div ul li a:hover {
    color: violet;
}
.nav>div ul {
    overflow: hidden;
}

.nav>div ul li {
    float: left;
    width: 50%;
}

.nav>div.last ul li {
    width: 100%;
}

.nav>div.last ul li a:hover {
    text-decoration: underline;
}
/* 타이틀 */
.tit {
    position: relative;
}
.tit h2 {
    font-size: 40px;
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;
    color: #f5f;
}
.tit .btn {
    position: absolute;
    top: 2px;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(../img/pngwing.com.png) no-repeat -298px -260px;    
}
/* 배너 */
.ban {
    position: relative;
    padding: 20px 0 20px;
}
.ban a.prev {
    position: absolute;
    left: -100px;
    top: 65px;
    width: 80px;
    height: 80px; 
    background: url(../img/pngwing.com.png) no-repeat -298px -240px;
}
.ban a.next {
    position: absolute;
    right: -100px;
    top: 65px;
    width: 80px;
    height: 80px;
    background: url(../img/pngwing.com.png) no-repeat -298px -240px;
}
.ban a.prev:hover {
    background-position: -298px -260px;
}
.ban a.next:hover {
    background-position: -298px -260px;
}
.ban ul {
    overflow: hidden;
}
.ban ul li {
    float: left;
    width: 330px;
    height: 170px;
}
.ban ul li a {
    color: #222;
}
.ban ul li:last-child {
    text-align: right;
}
.ban ul li:nth-child(2) {
    text-align: center;
}
.ban ul li.ban_img1 {
    text-align: left;
}
.ban ul li.ban_img2 {
    text-align: center;
}
.ban ul li.ban_img3 {
    text-align: right;
}
.ban ul li img {
    border: 4px solid #cdcdcd;
}
.ban ul li img:hover {
    border-color: #f5f;
}
/* 컨텐츠 */
.con {
    overflow: hidden;
    padding-top: 30px;
}

.con .column {
    width: 289px;
    height: 363px;
    float: left;
    margin: 0 30px 30px 0;
    padding-right: 30px;
    position: relative;
}
.con .col1 {
    border-right: 1px solid #222;
}
.con .col2 {
    border-right: 1px solid #222;
}
.con .col3 {
    margin-right: 0;
    padding-right: 0;
}
.con .col4 {
    border-right: 1px solid #222; 
}
.con .col5 {
    border-right: 1px solid #222;
}
.con .col6 {
    margin-right: 0;
    padding-right: 0;
}

.con .column .ico_img {
    display: block;
    width: 80px;
    height: 80px;
    background: url(/web-bong/webstandard/img/pngwing.com.png) no-repeat; 
    position: absolute;
    top: -34px;
    left: -8px; 
}
.con .column .ico_tit {
    padding-left: 70px;
    font-size: 25px;
    color: #f5f;;
}
.con .column .ico_desc {
    padding-left: 70px;
    border-bottom: 1px solid #000;
    padding: 15px;
}
.con .col1 .ico_img {
    background-position: -2px -775px;
}
.con .col2 .ico_img {
    background-position: -5px -775px;
}
.con .col3 .ico_img {
    background-position: -5px -775px;
}
.con .col4 .ico_img {
    background-position: -42px -645px;
}
.con .col5 .ico_img {
    background-position: -152px -645px;
}
.con .col6 .ico_img {
    background-position: -96px -645px;
}
.con .col1 .ico_img:hover {
    background-position: -110px -775px;
}
.con .col2 .ico_img:hover {
    background-position: -215px -775px;
}
.con .col3 .ico_img:hover {
    background-position: 5px -645px;
}
.con .col4 .ico_img:hover {
    background-position: -5px -775px;
}
.con .col5 .ico_img:hover {
    background-position: -115px -775px;
}
.con .col6 .ico_img:hover {
    background-position: -215px -775px;
}
/* 레이아웃 */
#wrap {}

#header {
    height: 365px;
    background: url(/web-bong/webstandard/img/wallpaperbetter.com_1920x1200.jpg) center top repeat-x
}

#contents {}

#footer {}

/* 컨텐츠 레이아웃 */
#con_nav {
    background-color: rgb(226, 253, 231);
}

#con_tit {
    background-color: rgb(190, 255, 190);
}

#con_ban { 
    background-color: rgb(159, 253, 159);
}

#con_cont {
    background-color: rgb(242, 255, 242);
}

/* 컨테이너 */
.container {
    width: 990px;
    margin: 0 auto;
    height: inherit;
    background: rgba(red, green, blue, alpha);
}