* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: 0 auto;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
}
.start {
    display: flex;
}
.logo {
    width: 115px;
    height: 34px;
    background: url(../img/logo.webp);
}
form {
    width: 440px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #9c57f5;
    margin-left: 2vw;
}
form .txt {
    margin-top: 1.5%;
    margin-left: 7%;
    font-size: 14px;
    position: relative;
}
form input {
    font-size: 14px;
    border: 0;
    width: 60%;
    margin-left: 2%;
}
.submit {
    width: 29px;
    height: 30px;
    background: url(../img/mainSrchBtn.webp);
    background-size: contain;
    position: absolute;
    left: 85%;
    top: -15%;
}
.MyPage a:nth-child(1) {
    width: 18px;
    height: 18px;
    background: url(../img/member_ov.webp) no-repeat;
}
.MyPage a:nth-child(2) {
    padding: 0 4px 0 8px;
    width: 18px;
    height: 18px;
    background: url(../img/login.webp) no-repeat;
}
.MyPage a:nth-child(3) {
    width: 18px;
    height: 18px;
    background: url(../img/company.webp) no-repeat;
}
.MyPage a span {
    position: relative;
    top: 25px;
    right: 20px;
    color: #999;
    font-size: 14px;
}
.menu {
    width: 100%;
    height: 7vh;
    margin-left: 1.7%;
    display: flex;
}
.menu .list {
    width: 55px;
    height: 55px;
    background: url(../img/gnb.webp) no-repeat;
    box-shadow: rgba(0, 0, 0, 0.8);
}
.menu .list2 {
    width: 70%;
    margin-left: 5%;
}
.menu .list2 ul {
    display: flex;
}
.menu .list2 ul li {
    font-family: 'noto sans kr', 'malgun gothic', 'dotum', sans-serif;
    margin-top: 1.8%;
    padding: 0 2%;
    font-size: 16px;
    font-weight: 500;
}
.menu .list3 {
    width: 45%;
}
.menu .list3 ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.3%;
    margin-right: 8.5%;
}
.menu .list3 ul li {
    margin-right: 5%;
}
.menu .list3 ul li:nth-child(2) {
    margin-top: .5%;
}
.menu .list3 ul li:nth-child(3) {
    margin-top: 2.5%;
}

/* banner */
.banner {
    width: 100%;
    height: 50vh;
    background: #ECEAFC;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'noto sans kr', 'malgun gothic', 'dotum', sans-serif;
}
.slider {
    width: 22vw;
    height: 20vw;
    background: url(../img/mainBn_top_01.webp) no-repeat center center;
    background-size: cover;
}
.test {
    width: 28vw;
    height: 20vw;
    background: #fff;
    margin: 0 1%;
}
.test01 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 4%;
}
.test01>div {
    margin-right: 2%;
}
.test01 h3 {
    font-family: 'noto sans kr';
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
    margin-top: 1%;
    margin-left: 2%;
}
.test01 i {
    width: 19px;
    height: 19px;
    border: 1px solid #dfdfdf;
    background: #fff;
    color: #8e8cfd;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
    padding-top: 0.1em;
}
.test02 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.test02 .test02_1 {
    display: flex;
    margin-top: 10%;
}
.test02_1_img {
    background: url(../img/inCrfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
}
.test02_1_img2 {
    background: url(../img/iCrtfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
    margin-left: -20%;
}  
.test02_1 img {
    height: 58px;
}
.test02_1text h3 {
    font-size: 16px;
    margin-left: 25%;
    min-width: 100px;
}
.test02_1text p {
    font-size: 10px;
    margin-left: 25%;
    min-width: 100px;
}
.test03 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.test03 .test03_1 {
    display: flex;
    margin-top: 10%;
}
.test03_1_img {
    background: url(../img/sCrtfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
}
.test03_1_img2 {
    background: url(../img/rCrtfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
    margin-left: -20%;
}  
.test03_1 img {
    height: 58px;
}
.test03_1text h3 {
    font-size: 16px;
    margin-left: 25%;
    min-width: 100px;
}
.test03_1text p {
    font-size: 10px;
    margin-left: 25%;
    min-width: 100px;
} 
.top10 {
    width: 15vw;
    height: 20vw;
    background: #fff;
}
.topName {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 4%;
}
.topName h3 {
    font-family: 'noto sans kr';
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
    margin-top: 10%;
    margin-left: 8%;
}
.topName>div {
    margin-right: 10%;
}
.topName i {
    width: 19px;
    height: 19px;
    border: 1px solid #dfdfdf;
    background: #fff;
    color: #8e8cfd;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
    padding-top: 0.2em;
    margin-top: 60%;
}
.toplist {
    margin-top: 8%;
    margin-left: 10%;
}
.toplist ul li {
    font-size: 16px;
    color: #999;
    position: relative;
}
.toplist ul li:nth-child(10) {
    position: absolute;
    margin-left: -.3%;
    width: 150px;
}
.toplist ul li span {
    margin-left: 3%;
    font-weight: 200;
    font-size: 15px;
    color: #222;
}
