* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1400px;
    margin: 0 auto;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
}
.start {
    display: flex;
}
.logo {
    width: 115px;
    height: 34px;
    background: url(../img/logo.webp);
}
form {
    width: 440px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #9c57f5;
    margin-left: 2%;
}
form .txt {
    margin-top: 1.5%;
    margin-left: 7%;
    font-size: 14px;
    position: relative;
}
form input {
    font-size: 14px;
    border: 0;
    width: 60%;
    margin-left: 2%;
}
.submit {
    width: 29px;
    height: 30px;
    background: url(../img/mainSrchBtn.webp);
    background-size: contain;
    position: absolute;
    left: 85%;
    top: -15%;
}
.MyPage a:nth-child(1) {
    width: 18px;
    height: 18px;
    background: url(../img/member_ov.webp) no-repeat;
}
.MyPage a:nth-child(2) {
    padding: 0 4px 0 8px;
    width: 18px;
    height: 18px;
    background: url(../img/login.webp) no-repeat;
}
.MyPage a:nth-child(3) {
    width: 18px;
    height: 18px;
    background: url(../img/company.webp) no-repeat;
}
.MyPage a span {
    position: relative;
    top: 25px;
    right: 20px;
    color: #999;
    font-size: 14px;
}
.menu {
    width: 100%;
    height: 70px;
    margin-left: 1.7%;
    display: flex;
}
.menu .list {
    width: 55px;
    height: 55px;
    background: url(../img/gnb.webp) no-repeat;
    box-shadow: rgba(0, 0, 0, 0.8);
}
.menu .list2 {
    width: 70%;
    margin-left: 5%;
}
.menu .list2 ul {
    display: flex;
}
.menu .list2 ul li {
    font-family: 'noto sans kr', 'malgun gothic', 'dotum', sans-serif;
    margin-top: 1.8%;
    padding: 0 2%;
    font-size: 16px;
    font-weight: 500;
}
.menu .list3 {
    width: 45%;
}
.menu .list3 ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.3%;
    margin-right: 8.5%;
}
.menu .list3 ul li {
    margin-right: 5%;
}
.menu .list3 ul li:nth-child(2) {
    margin-top: .5%;
}
.menu .list3 ul li:nth-child(3) {
    margin-top: 2.5%;
}

/* banner */
.banner {
    width: 100%;
    height: 500px;
    background: #ECEAFC;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'noto sans kr', 'malgun gothic', 'dotum', sans-serif;
}
.slider {
    width: 400px;
    height: 400px;
    background: url(../img/mainBn_top_01.webp) center;
    background-size: cover;
    position: relative;
}
.slider_counter {
    position: absolute;
    top: 88%;
    left: 88%;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}
.test {
    width: 600px;
    height: 400px;
    background: #fff;
    margin: 0 1%;
}
.test01 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 4%;
}
.test01>div {
    margin-right: 2%;
}
.test01 h3 {
    font-family: 'noto sans kr';
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
    margin-top: 1%;
    margin-left: 2%;
}
.test01 i {
    width: 19px;
    height: 19px;
    border: 1px solid #dfdfdf;
    background: #fff;
    color: #8e8cfd;
    font-size: .7em;
    text-align: center;
    cursor: pointer;
    padding-top: .3em;
}
.test02 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.test02 .test02_1 {
    display: flex;
    margin-top: 10%;
}
.test02_1_img {
    background: url(../img/inCrfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
}
.test02_1_img2 {
    background: url(../img/iCrtfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
    margin-left: -20%;
}  
.test02_1 img {
    height: 58px;
}
.test02_1text h3 {
    font-size: 16px;
    margin-left: 25%;
    min-width: 100px;
}
.test02_1text p {
    font-size: 10px;
    margin-left: 25%;
    min-width: 100px;
}
.test03 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.test03 .test03_1 {
    display: flex;
    margin-top: 10%;
}
.test03_1_img {
    background: url(../img/sCrtfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
}
.test03_1_img2 {
    background: url(../img/rCrtfc.webp) no-repeat center;
    background-size: cover;
    width: 72px;
    height: 58px;
    margin-left: -20%;
}  
.test03_1 img {
    height: 58px;
}
.test03_1text h3 {
    font-size: 16px;
    margin-left: 25%;
    min-width: 100px;
}
.test03_1text p {
    font-size: 10px;
    margin-left: 25%;
    min-width: 100px;
}
.test_banner {
    width: 430px;
    height: 63px;
    background: url(../img/d0942d969f0a37cb73a46db345ea874b.png) no-repeat;
    margin-top: 6%;
    margin-left: 5vw;
} 
.top10 {
    width: 300px;
    height: 400px;
    background: #fff;
}
.topName {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 4%;
}
.topName h3 {
    font-family: 'noto sans kr';
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
    margin-top: 10%;
    margin-left: 8%;
}
.topName>div {
    margin-right: 10%;
}
.topName i {
    width: 19px;
    height: 19px;
    border: 1px solid #dfdfdf;
    background: #fff;
    color: #8e8cfd;
    font-size: .7em;
    text-align: center;
    cursor: pointer;
    padding-top: .2em;
    margin-top: 60%;
}
.toplist {
    margin-top: 8%;
    margin-left: 10%;
}
.toplist ul li {
    font-size: 16px;
    color: #999;
    position: relative;
}
.toplist ul li:nth-child(10) {
    position: absolute;
    margin-left: -.3%;
    width: 150px;
}
.toplist ul li a {
    margin-left: 3%;
    font-weight: 200;
    font-size: 15px;
    color: #222;
}
.toplist ul li a:hover {
    border-bottom: 1px solid #222;
}
/* dot */
.dot {
    margin: 2%;
}
.dotList {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 100px;
    margin: 0 auto;
}
.dotList1 {
    border-radius: 10px;
    background: url(../img/MainBn_scroll_01.webp) no-repeat;
    width: 100%;
    height: 100%;
    margin-left: 1%;
    margin-top: 1.2%;
}
.dotList2 {
    border-radius: 10px;
    background: url(../img/MainBn_scroll_02.webp) no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 1.2%;
}
.dotList3 {
    border-radius: 10px;
    background: url(../img/MainBn_scroll_03.webp) no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 1.2%;
}
.btnLeft {
    background: url(../img/prev.svg)no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 1.2%;
    cursor: pointer;
}
.btnRight {
    background: url(../img/next.svg)no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 1.2%;
    cursor: pointer;
}
/* hotKeyWord */
.Hot20 {
    width: 68%;
    margin: 0 auto;
}
.Hot_header {
    display: flex;
    align-items: center;
    font-family: 'noto sans kr';
}
.hotKeyword {
    width: 31px;
    height: 41px;
    background: url(../img/hot_keyword.webp) no-repeat;
}
.Hot_header span {
    text-transform: uppercase;
    color: #8f45ef;
    font-weight: bold;
    font-size: 30px;
    margin-left: 1%;
    margin-bottom: .1%;
}
.Hot_header em {
    font-size: 30px;
    margin-bottom: .1%;
}
.Hot1-8 ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
}
.Hot1-8 ul li {
    width: 300px;
    height: 190px;
    margin: 0 16px 16px 0;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    position: relative;
}
li:nth-child(1) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_01.png) no-repeat;
}
li:nth-child(2) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_02.png) no-repeat;
}
li:nth-child(3) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_03.png) no-repeat;
}
li:nth-child(4) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_04.png) no-repeat;
}
li:nth-child(5) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_05.png) no-repeat;
}
li:nth-child(6) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_06.png) no-repeat;
}
li:nth-child(7) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_07.png) no-repeat;
}
li:nth-child(8) .imgbox {
    border-radius: 9px;
    width: 100%;
    height: 70%;
    background: url(../img/hotKeyword_08.png) no-repeat;
}
li:nth-child(1) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 9px 9px 0 0;
    opacity: 0.6;
    background: #e9b107;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(1) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
li:nth-child(2) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    background: #4b3962;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(2) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
li:nth-child(3) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    background: #e16045;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(3) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
li:nth-child(4) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    background: #474756;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(4) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
li:nth-child(5) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    background: #305a7e;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(5) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
li:nth-child(6) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    background: #b13c2f;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(6) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
li:nth-child(7) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    background: #383f4e;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(7) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
li:nth-child(8) .imgbox_bg {
    width: 100%;
    height: 65.6%;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    background: #cd9308;
    position: absolute;
    top: 0;
    left: 0;
}
li:nth-child(8) .imgbox_bg:hover {
    opacity: 0;
    transition: all .1s;
}
.imgbox_text {
    position: relative;
}
.imgbox_text p {
    border-radius: 10px;
    width: 40px;
    background: #9c57f5;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 230px;
    z-index: 1;
}
.imgbox_text h3 {
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}
.imgbox_text h3 span {
    margin-left: 24px;
    color: #fff;
}
.subtext {
    margin-left: 8%;
}
.subtext p {
    font-size: .9em;
    color: #6e6e6e;
    margin-top: .5%;
    margin-left: 2%;
}
.subtext span {
    font-size: .7em;
    color: #f15959;
}
.subtext em {
    display: flex;
    font-size: .9em;
    color: #6e6e6e;
}