* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    background: #E35FA4;
    color: #EEEEEE;
    font-size: 24px;
    padding-left: 14px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > div {
    padding-top: 10px;
    padding-right: 15px;
}
/* Container */
.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* SVG Filters should be applied to the container */
    -webkit-filter: url("#filter-name");
    filter: url("#filter-name");
    /* pointer-events: none; */
   
}

/* Dot */
.dot {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    margin-top: -20px;
    margin-left: -20px;
    background: #EEEEEE;
    border-radius: 40px;
    transition: ease .1s;
    /* pointer-events: none; */
    user-select: none;
    
}
/* cursor */
/* .cursor {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    width: 50px;
    user-select: none;
    pointer-events: none;
} */
.dot:nth-child(5) {
    background: #9C27B0;
    transition: ease .1s;
    transform: scale(1);
}

.dot:nth-child(4) {
    background: #B037AD;
    transition: ease .12s;
    transform: scale(.8);
}

.dot:nth-child(3) {
    background: #C245AA;
    transition: ease .14s;
    transform: scale(.6);
}

.dot:nth-child(2) {
    background: #D252A7;
    transition: ease .16s;
    transform: scale(.4);
}

.dot:nth-child(1) {
    background: #E35FA4;
    transition: ease .18s;
    transform: scale(.2);
}
main {
    
}
.btn {
    position: absolute;
    text-align: center;
    
}
.btn a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(140deg, #ce9dd6 30%, #C1BBFC 50%, rgba(255,255,255,.6) 70%);
    transition: all 0.3s;
}
.btn a img {
    width: 30px;
    padding-top: 10px;
}
.btn a span {
    position: absolute;
    left: 50%; bottom: -30px;
    transform: translateX(-50%);
    background: rgb(250, 193, 255);
    padding: 0 10px;
    white-space: nowrap;
    border-radius: 20px;
}
.btn:hover a {
    background: rgb(247, 163, 255);
}
.btn1 {
    left: 100px;
    top: 100px;
}
.btn2 {
    left: 200px;
    top: 100px;
}
.btn3 {
    left: 330px;
    top: 100px;
}
.musicBox {
    position: absolute;
    right: -500px;
    top: 10px;
    width: 400px;
    height: 600px;
    transition: all 0.4s;
}
.memoryBox {
    position: absolute;
    right: -900px;
    top: 50px;
    width: 800px;
    height: 800px;
    transition: all 0.4s;
}
.typengBox {
    position: absolute;
    right: -1100px;
    top: 50px;
    width: 1000px;
    height: 600px;
    transition: all 0.4s;
}
.musicBox.show {
    right: 10px;
}
.memoryBox.show {
    right: 10px;
}
.typengBox.show {
    right: 10px;
}
iframe {
    width: 100%;
    height: 100%;
}