* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexonLv1Gothic';
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}

li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;   /*이미지 여백제거*/
}
body {
    width: 100%;
    height: 100vh;
    background: url(../img/Frame1.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    color: #fff;
}
.body-img01 {
    background-image: url(../img/Frame21.jpg);
}
.body-img02 {
    background-image: url(../img/Frame22.jpg);
}
.body-img03 {
    background-image: url(../img/Frame23.jpg);
}
.body-img04 {
    background-image: url(../img/Frame24.jpg);
}
.body-img05 {
    background-image: url(../img/Frame25.jpg);
}
.body-img06 {
    background-image: url(../img/Frame\ 26.jpg);
}
.body-img07 {
    background-image: url(../img/Frame\ 27.jpg);
}
.body-img08 {
    background-image: url(../img/Frame\ 28.jpg);
}
body::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(63, 72, 82, 0.8);
    z-index: -1;
}

/* info */
/* .info {
    position: relative;
    z-index: 20;
} */
.title {
    position: absolute;
    left: 20px;
    top: 20px;
}

.title h1 {
    font-size: 34px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 500;
}

.title p {
    font-size: 16px;
}

.number {
    position: absolute;
    right: 20px;
    top: 20px;
}
.number li {
    display: inline;
}
.number li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px dashed #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

.number li a:hover,
.number li.active a {
    background: #fff;
    color: darkcyan;
}

.source {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.source button {
    border: 1px solid #fff;
    background: transparent;
    color: #FFF;
    font-family: 'NexonLv1Gothic';
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.2s;
    cursor: pointer;
}
.source button:hover {
    background: #FFF;
    color: #000;
}

/* attr */
.attr {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}

/* modal */
#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    transform: scale(0);
}
#modal.show {
    animation: foldout 1s ease forwards;
}
#modal.show.hide {
    animation: foldin 1s 0.3s ease backwards;
}
@keyframes foldout {
    0% {transform: scaleX(0) scaleY(0.001)}
    50% {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(1) scaleY(1);}
}
@keyframes foldin {
    0% {transform: scaleX(1) scaleY(1)}
    50% {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(0) scaleY(0.001);}
}
.modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transform: scale(0);
}
#modal.show .modal-wrap {
    animation: zoomout 0.5s 1s ease forwards;
}
#modal.show.hide .modal-wrap {
    animation: zoomin 0.5s ease forwards;
}
@keyframes zoomout {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}
@keyframes zoomin {
    0% {transform: scale(1)}
    100% {transform: scale(0)}
}
.modal-close {
    margin-top: 10px;
}
.modal-cont {
    opacity: 1;
    position: relative;
}
.code-view {
    width: 70vw;
    height: 70vh;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}
.code-view::-webkit-scrollbar {
        width: 4px; /*스크롤바의 너비*/
    }
.code-view::-webkit-scrollbar-thumb {
        background-color: black; /*스크롤바의 색상*/
    }
.code-view::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255); /*스크롤바 트랙 색상*/
    }
.view-header {
    padding: 7px 0 7px 10px;
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 32px;
    background: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 5px 5px 0 0;
}
.view-header > span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
}
.view-header > span:nth-child(1){
    background-color: aquamarine;
}
.view-header > span:nth-child(2){
    background-color: aqua;
}
.view-header > span:nth-child(3){
    background-color: blue;
}
.view-title {
    padding: 9px 0 7px;
    height: 37px;
    border-bottom: 1px solid #e2e8f0;
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    height: 32px;
    background: #fff;
}
.view-title li {
    display: inline;
}
.view-title li a {
    color: rgb(150 , 150, 150);
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 20px 5px 20px;
    margin: 2px 2px 0 2px;
}
.view-title li.active a {
    color: #000;
    background: rgb(187, 255, 148);
} 
.view-cont {
    background-color: #e2e8f0;
    height: 100%;
    padding-top: 60px;
}
.view-cont > div {
    display: none;
}
.view-cont > div:first-child {
    display: block;
}
.view-cont pre code.hljs {
    line-height: 1.6;
}