* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
  width: 100%;
  position: fixed;
  background: #f5f5f5;
  z-index: 10000;
  opacity: 0;
  transform: translateY(-200px);
}
header h3 {
  color: #222;
  font-family: "Gmarket Sans";
  font-weight: bold;
  font-size: 2vw;
  padding-left: 3vw;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  padding-left: 1vw;
  padding-right: 3vw;
}
header ul li a {
  color: #000;
  text-decoration: none;
  font-family: 'Gmarket Sans';
  font-weight: 300;
}
header ul li a:hover {
  color: #ffc435;
}
.main__wrap {
  margin: 0 auto;
  text-align: center;
}
.main__wrap h2 {
  font-family: "Fugaz One";
  font-weight: bold;
  font-size: 17.3vw;
  text-align: center;
  letter-spacing: normal;
  line-height: 1;
  padding-top: 5.5vw;
  z-index: -1;
}
.main__banner {
  width: 95%;
  height: 40vw;
  margin: 0 auto;
  color: #fff;
  border: 1px solid #222;
}
.main__bannerImg {
  width: 100%;
  height: 100%;
  background: url(../img/banner.png) no-repeat ;
  background-size: cover;
}
.main__banner h3 {
  float: left;
  text-align: left;
  padding: 50px;
  font-size: 4vw;
  font-family: "Fugaz One";
  line-height: 0.9;
}
.main__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.main__box .box01 {
  background: url(../img/box01.png) no-repeat;
  background-size: cover;
  width: 590px;
  height: 30.5vw;
  border: 1px solid #222;
  margin-right: 1vw;
}
.main__box .box02 {
  background: url(../img/box02.png) no-repeat;
  background-size: cover;
  width: 590px;
  height: 30.5vw;
  border: 1px solid #222;
  margin-right: 1vw;
}
.main__box .box03 {
  background: url(../img/box03.png) no-repeat;
  background-size: cover;
  width: 590px;
  height: 30.5vw;
  border: 1px solid #222;
}
.main__box .box01 p {
  font-family: 'GmarketSans';
  font-size: 5vw;
  font-weight: 100;
  color: #fff;
  text-align: center;
  margin-top: 67%;
}
.main__box .box02 p {
  font-family: 'GmarketSans';
  font-size: 5vw;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: 67%;
}
.main__box .box03 p {
  font-family: 'GmarketSans';
  font-size: 5vw;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: 67%;
}
.main__line {
  margin: 0 auto;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  height: 20vw;
  overflow: hidden;
  position: relative;
}
.main__line h3 {
  font-size: 20vw;
  font-family: "Fugaz One";
  font-weight: bold;
  text-align: center;
  margin-top: -4.5%;
  letter-spacing: -0.8vw;
  position: absolute;
  left: 0;
  overflow: hidden;
  display: inline-flex;
  will-change: transform;
  animation: marquee 14s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.main__line2 {
  margin: 0 auto;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  background: #ffc435;
  height: 20vw;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.main__line2 h3 {
  font-size: 20vw;
  font-family: "Fugaz One";
  font-weight: bold;
  text-align: center;
  color: #fff;
  letter-spacing: -0.5vw;
  margin-top: -4.6%;
  position: absolute;
  left: 0;
  overflow: hidden;
  display: inline-flex;
  will-change: transform;
  animation: marquee 14s linear infinite;
}
.main__cont {
  width: 95%;
  height: 20vw;
}
.main__coding {
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.main__info {
  width: 50%;
  height: 50vw;
  border: 2px solid #222;
  margin-top: 1vw;
}
.main__info:nth-child(1) {
  margin-right: 1vw;
}
.main__coingImg {
  width: 95%;
  height: 40vw;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #222;
}
.main__coingImg img {
  width: 90%;
  margin-top: 2vw;
}
.link_code {
  margin-top: 2vw;
  margin-left: 18vw;
}
.link_code a {
  font-family: 'GmarketSans';
  font-size: 2vw;
  text-decoration: none;
  color: #222;
  border: 2px solid #222;
  border-radius: 40px;
  background: #ffc435;
}
.link_code .a__site {
  padding: 10px 25px 5px 25px;
}
.link_code .a__code {
  padding: 10px 30px 5px 30px;
}
.main__info h3 {
  margin-top: 1vw;
  margin-left: 1vw;
  text-align: left;
  font-family: 'GmarketSans';
  font-weight: 300;
  font-size: 2vw;
}
.main__info p {
  margin-top: 1vw;
  margin-left: 1vw;
  text-align: left;
  font-family: 'GmarketSans';
  font-weight: 300;
  font-size: 1vw;
}
@media (max-width:1000px) {
  header ul li {
    padding-left: 4vw;
    padding-right: 2vw;
  }
  .main__info {
    height: 54vw;
  }
  .link_code {
    margin-top: 1vw;
    margin-left: 10vw;
  }
}
@media (max-width:800px) {
  .main__info {
    height: 56vw;
  }
  .link_code {
    margin-top: 1vw;
    margin-left: 12vw;
  }
}
@media (max-width:600px) {
  .main__info {
    height: 58vw;
  }
  .main__coingImg a {
    margin: 0;
  }
  .link_code {
    margin-top: 0.5vw;
    margin-left: 0;
  }
}

/* index1 */
.main__text {
  margin-bottom: -1vw;
  padding: 0 2.4vw;
}
.main__text h3 {
  font-family: "Fugaz One";
  font-weight: bold;
  font-style: oblique;
  font-size: none;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -.2vw;
  padding-top: 4vw;
  opacity: 0;
  width: 0;
  height: 0;
}
#container {
  padding: 0 2.4vw;
  width: 100%;
  margin: 0 auto;
}
#container #con__bg {
  width: 0;
  height: 0;
  border: 2px solid #222;
  opacity: 0;
}
#container #con__bg > canvas {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  z-index: 0;
}
#container #con__bg h3 {
  position: absolute;
  color: #fff;
  font-size: 4vw;
  font-family: "Fugaz One";
  line-height: 0.9;
  z-index: 1;
}
#container #con__bg h3:nth-child(1) {
  opacity: 0;
  transform: translate(24%, 400px);
}
#container #con__bg h3:nth-child(2) {
  opacity: 0;
  transform: translate(10%, 500px);
}
.con__box {
  display: flex;
  margin: 2.4vw 0;
}
/* .con__box .boxs {
  margin: 0 auto;
} */
.con__box .boxs:nth-child(1) {
  width: 0;
  height: 0;
  background: url(https://images.unsplash.com/photo-1521133573892-e44906baee46?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687) center center ,linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  animation: hue-rotate 3s linear infinite;
  border: 2px solid #222;
  color: #fff;
  text-align: center;
  font-family: 'GmarketSans';
  font-size: 3.7vw;
  font-weight: 100;
  padding-top: 21.5vw;  
  opacity: 0;
}
.con__box .boxs:nth-child(2) {
  width: 0;
  height: 0;
  background: url(https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1255)
  center center ,linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  animation: hue-rotate 3s linear infinite;
  margin: 0 2.6vw;
  border: 2px solid #222;
  color: #fff;
  text-align: center;
  font-family: 'GmarketSans';
  font-size: 3.7vw;
  font-weight: 100;
  padding-top: 21.5vw;
  opacity: 0;
}
.con__box .boxs:nth-child(3) {
  width: 0;
  height: 0;
  background: url(https://images.unsplash.com/photo-1555448248-2571daf6344b?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287)
  center center ,linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  animation: hue-rotate 3s linear infinite;
  border: 2px solid #222;
  color: #fff;
  text-align: center;
  font-family: 'GmarketSans';
  font-size: 3.7vw;
  font-weight: 100;
  padding-top: 21.5vw;
  opacity: 0;
}
.scroll {
  font-family: "Gmarket Sans";
  position: absolute;
  top: .8vw;
  left: 16vw;
  z-index: 100000;
}
@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@media (max-width:1000px) {
  .main__text h3 {
    font-size: 17vw !important;
  }
  .scroll {
    position: absolute;
    top: .5vw;
  }
}
@media (max-width:800px) {
  .main__text h3 {
    font-size: 16.9vw !important;
    padding-top: 4.5vw;
  }
}
@media (max-width:600px) {
  .main__text h3 {
    font-size: 17.3vw !important;
    padding-top: 5.5vw;
  }
}