* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
  padding: 10px;
}
header h3 {
  color: #222;
  font-family: "Gmarket Sans";
  font-weight: bold;
  font-size: 2vw;
  padding-left: 30px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  padding-left: 80px;
  padding-right: 30px;
}
header ul li a {
  color: #000;
  text-decoration: none;
  font-family: 'Gmarket Sans';
  font-weight: 600;
}
header ul li a:hover {
  color: #ffc435;
}
.main__wrap {
  margin: 0 auto;
  text-align: center;
}
.main__wrap h2 {
  font-family: "Fugaz One";
  font-weight: bold;
  font-size: 17.3vw;
  text-align: center;
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: -1.5%;
}
.main__banner {
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  background: url(../img/banner.png) no-repeat;
  background-size: cover;
  color: #fff;
  border: 1px solid #222;
}
.main__banner h3 {
  float: left;
  text-align: left;
  padding: 50px;
  font-size: 4vw;
  font-family: "Fugaz One";
  line-height: 0.9;
}
.main__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  padding-top: 20px;
}
.main__box .box01 {
  background: url(../img/box01.png) no-repeat;
  background-size: cover;
  width: 580px;
  height: 30.5vw;
  border: 1px solid #222;
  margin-right: 20px;
}
.main__box .box02 {
  background: url(../img/box02.png) no-repeat;
  background-size: cover;
  width: 580px;
  height: 30.5vw;
  border: 1px solid #222;
  margin-right: 20px;
}
.main__box .box03 {
  background: url(../img/box03.png) no-repeat;
  background-size: cover;
  width: 580px;
  height: 30.5vw;
  border: 1px solid #222;
}
.main__box .box01 p {
  font-family: 'GmarketSans';
  font-size: 5vw;
  font-weight: 100;
  color: #fff;
  text-align: center;
  margin-top: 67%;
}
.main__box .box02 p {
  font-family: 'GmarketSans';
  font-size: 5vw;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: 67%;
}
.main__box .box03 p {
  font-family: 'GmarketSans';
  font-size: 5vw;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: 67%;
}
.main__line {
  margin: 0 auto;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  height: 300px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.main__line h3 {
  font-size: 30vh;
  font-family: "Fugaz One";
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -50px;
}
.main__line2 {
  margin: 0 auto;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  background: #ffc435;
  height: 300px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.main__line2 h3 {
  font-size: 30vh;
  font-family: "Fugaz One";
  font-weight: bold;
  text-align: center;
  color: #fff;
  letter-spacing: -10px;
  position: absolute;
  top: -50px;
}
.main__cont {
  /* width: 95%;
  height: 800px; */
}
.main__coding {
  width: 95%;
  height: 800px;
  margin: 0 auto;
  display: flex;
  
}
.main__info {
  width: 50%;
  height: 800px;
  border: 2px solid #222;
  margin-top: 40px;
}
.main__info:nth-child(1) {
  margin-right: 20px;
}
.main__coingImg {
  width: 95%;
  height: 660px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #222;
  position: relative;
}
.main__coingImg img {
  width: 90%;
  margin-top: 30px;
}
.main__coingImg a {
  position: absolute;
  top: 80%;
  left: 70%;
  font-family: 'GmarketSans';
  font-size: 22px;
  text-decoration: none;
  color: #222;
  border: 2px solid #222;
  border-radius: 25px;
  background: #ffc435;
  padding: 5px 20px 5px 20px;
  margin-left: 20px;
}
.main__info h3 {
  margin-top: 10px;
  margin-left: 2%;
  text-align: left;
  font-family: 'GmarketSans';
  font-weight: 500;
  font-size: 2em;
}
.main__info p {
  margin-top: 10px;
  margin-left: 2.3%;
  text-align: left;
  font-family: 'GmarketSans';
  font-weight: 300;
}
