* {
    margin: 0;
    padding: 0;
}
#wrap {}
#header {
    width: 100%;
    height: 206px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
#header h3 {
    display: flex;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 65px;
    left: 140px;
}
#header img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 60px;
    left: 100px;
} 
#header .manu ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    left: 0;
    text-align: left;
    font-weight: normal;
    margin: 0 18px 12px 10px;
}
#header .manu ul li a {
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    color: #000;
    transition: all 0.3s;
}
#header .manu ul li a:hover {
    color: #000;
}
#header .manu ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: all 0.3s ease;

}
#header .manu ul li a:hover::before {
    transform: scaleX(1);
    color: #000;
}
#header .seting {
    display: flex;
    justify-content: space-between;
}
#header .seting a {
    position: relative;
    top: 63px;
    right: 93px;
}
#header .seting span {
    width: 50px;
    height: 50px;
}
#header .seting .seting_img1 {
    background-image: url(../img/svg.svg);
    background-position: 0 0;
}
#header .seting .seting_img2 {
    background-image: url(../img/svg.svg);
    background-position: -50px 0;
}
#header .seting .seting_img3 {
    background-image: url(../img/svg.svg);
    background-position: -100px 0;
} 
#header ul li {
    padding: 40px;
}
#banner {
    width: 100%;
    height: 1185px;
    margin: 0 auto;
}
.banner-container {
    width: 1022px;
    height: 853px;
    background: url(../img/banner1.jpg);
    float: right;
}
.text {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 100px;
} 
.text h3 {
    font-size: 80px;
    line-height: 80px;
}
.text p {
    font-size: 18px;
}
.text a {
    border: 1px solid #c4a586;
    border-radius: 1px;
    padding: 20px 40px 20px 40px;
    line-height: 80px;
}
.text .button1 {
    color: #fff;
    background-color: #c4a586;
}
.text .button2 {
    color: #c4a586;
    background-color: #fff;
}

section {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
.middle01 > div {
    float: left;
    height: 300px;
}
.middle .text2 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 1080px;
    left: 840px;
}
.middle ul {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    position: absolute;
    left: 400px;
}
.middle ul li {
    width: 150px;
    height: 90px;
}
.middle .middle-img1 {
    background-image: url(../img/svg2.svg);
    background-position: 50px 0;
}
.middle .middle-img2 {
    background-image: url(../img/svg2.svg);
    background-position: 10px -98px;
}
.middle .middle-img3 {
    background-image: url(../img/svg2.svg);
    background-position: 20px -200px;
}
.middle .middle-img4 {
    background-image: url(../img/svg2.svg);
    background-position: 30px -304px;
}
.middle .middle-img5 {
    background-image: url(../img/svg2.svg);
    background-position: 20px -398px;
}
.middle .middle-img6 {
    background-image: url(../img/svg2.svg);
    background-position: -100px -5px;
}
.middle02 > div {
    float:left;
    height: 388px;
    color: #3d3d3f;
    text-align: left;
    font-weight: bold;
}
.middle02 > div h3 {
    margin: 91px 393px 91px 0;
    font-size: 34px;
    line-height: 1.29;
    position: relative;
    right: -150px;
    top: 0;
}
.middle02 > div p {
    margin: 91px 393px 91px 0;
    font-size: 20px;
    position: relative;
    right: -150px;
    top: 0;
}
.middle02 .sub_img1 {
    background-color: #fcefe9;
    width: 50%;
}
.middle02 .sub_img1 .chair01 {
    position: relative;
    top: -390px;
    left: 200px;
}
.middle02 .sub_img2 {
    background-color: #fae2c8;
    width: 50%;
}
.middle02 .sub_img2 .chair02 {
    position: relative;
    top: -300px;
    right: -500px;
}
#contents {
    margin: 0 auto;
    height: 2415px;
    background: #fbfbfb;
}
.container {
    margin: 0 auto;
    width: 1110px;
    height: 1024px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.container h3 {
    margin: 0 95px 0 0;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #3d3d3f;
    position: relative;
    top: 110px;
    left: -70px;
}
.container ul {
    display: flex;
    justify-content: space-between; 
}
.container ul li {
    float: left;
}
.container ul li a {
    margin: 0 95px 0 0;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Geomanist';
    color: #a9a7a6;
    position: relative;
    top: 130px;
    left: -70px;
}
.container ul li a:hover {
    color: rgb(0, 0, 0);
}
.container span {
    position: relative;
    top: 80px;
    left: -70px;
}
.container img {
    position: relative;
    top: 115px;
    left: -40px;
}
.container .list h3 {
    font-size: 26px;
    font-weight: bold;
    position: relative;
    left: 30px;
    top: 50px;
}
.container .list .tax1 {
    font-size: 19px;
    color: #3d3d3f;
    position: relative;
    left: -95px;
    top: 82px;
}
.container .list .tax2 {
    font-size: 15px;
    text-decoration: line-through;
    color: #a9a7a6;
    position: relative;
    left: 15px;
    top: 57px;
}
.container .list .chair03 {
    position: relative;
    top: 0;
    left: -60px;
}
.container .list .chair04 {
    position: relative;
    top: 50px;
    left: -40px;
}
.container .list .chair05 {
    position: relative;
    top: 30px;
    left: -50px;
}
.container .list a {
    color: #fff;
    font-size: 14px;
    margin: 10px;
}
.container .list em {
    width: 26px;
    height: 26px;
    margin: 0 0 0 13px;
    padding: 6px 5px 6px 7px;
    opacity: 0.2;
    background-color: #fff;
    background-image: url(../img/svg3.svg);
    background-position: -136px 8px;
    border-radius: 40px;
}
.container .list .list01 {
    background: #fff4e8;
    width: 312px;
    height: 305px;
    position: absolute;
    top: 2800px;
    left: 400px;
}
.container .list .list01 a {
    background-color: #d9ab82;
    border: 1px solid #d9ab82;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    position: absolute;
    top: -40px;
    left: 60px;
}
.container .list .list02 {
    background: #fff4e8;
    width: 312px;
    height: 305px;
    position: absolute;
    top: 2800px;
    left: 800px;
}
.container .list .list02 a {
    background-color: #d9ab82;
    border: 1px solid #d9ab82;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: -25px;
    left: 70px;
}
.container .list .list03 {
    background: #fff4e8;
    width: 312px;
    height: 305px;
    position: absolute;
    top: 2800px;
    left: 1200px;
}
.container .list .list03 a {
    background-color: #d9ab82;
    border: 1px solid #d9ab82;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: -25px;
    left: 70px;
}
.manu3 {
    position: absolute;
    top: 2400px;
    left: 750px;   
}
#footer {
    background: #777;
}

